In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
select_files=['VEHICLE.csv','PERSON.csv']
#fixed_path='C:\\Users\\Duong Hung\\Documents\\GitHub\\Vehicle-Crash-Data-Visualization'

In [3]:
select_features=['STATE','ST_CASE','VEH_NO','HIT_RUN','MAKE','MODEL','BODY_TYP',
                 'GVWR','MOD_YEAR','HAZ_INV','TRAV_SP','M_HARM','IMPACT1']

In [4]:
df_final=pd.DataFrame()
for year in range(2009,2019):
    path='.\Datasets\\'+str(year)+'\\'+select_files[0]
    print(path)
    df=pd.read_csv(path,encoding = "ISO-8859-1")
    df=df[select_features]
    df['YEAR']=year
    df_final=pd.concat([df_final,df])
df_final

.\Datasets\2009\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2010\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (49,50) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2011\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (48,60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2012\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2013\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2014\VEHICLE.csv
.\Datasets\2015\VEHICLE.csv
.\Datasets\2016\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (36,37,102) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2017\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (101,102) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

.\Datasets\2018\VEHICLE.csv

C:\Users\Duong Hung\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (36,37,104) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE,ST_CASE,VEH_NO,HIT_RUN,MAKE,MODEL,BODY_TYP,GVWR,MOD_YEAR,HAZ_INV,TRAV_SP,M_HARM,IMPACT1,YEAR
0,1,10001,1,0,52,35,4,0,2001,1,15,12,3,2009
1,1,10001,2,0,20,482,31,0,2002,1,65,12,12,2009
2,1,10002,1,0,7,41,4,0,2002,1,999,9,12,2009
3,1,10003,1,0,20,16,2,0,2004,1,75,12,12,2009
4,1,10003,2,0,35,47,4,0,2002,1,45,12,12,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51867,56,560098,2,0,20,481,34,0,2014,1,999,12,10,2018
51868,56,560099,1,0,34,34,4,0,1994,1,81,1,0,2018
51869,56,560100,1,0,20,36,2,0,2002,1,75,1,0,2018
51870,56,560101,1,0,20,401,14,0,1992,1,999,1,11,2018
51871,56,560101,2,0,7,482,34,0,2011,1,55,12,11,2018

In [5]:
df_final.to_csv('filtered_vehicle.csv',index=False)