In [2]:
import requests
from bs4 import BeautifulSoup
page = requests.get("https://www.nhtsa.gov/node/97996/251")
page

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

In [4]:
# Find all hyperlink in the website
hpl= soup.find_all('a',href=True)

In [5]:
#Find all the link to each year
dl={} # variable that contains link to each year
for ele in hpl:
    e_text=ele.get_text()
    try:
        year=int(e_text)
        if (year>2013 and year <2019):
            print(year)
            print(ele['href'])
            dl[year]=ele['href']
    except: continue

2009
https://www.nhtsa.gov/node/97996/117196
2010
https://www.nhtsa.gov/node/97996/117201
2011
https://www.nhtsa.gov/node/97996/117206
2012
https://www.nhtsa.gov/node/97996/117211
2013
https://www.nhtsa.gov/node/97996/117216
2014
https://www.nhtsa.gov/node/97996/117221
2015
https://www.nhtsa.gov/node/97996/117226
2016
https://www.nhtsa.gov/node/97996/117231
2017
https://www.nhtsa.gov/node/97996/117236
2018
https://www.nhtsa.gov/node/97996/176766

## Download zip file of each year

In [7]:
import wget
for year in dl.keys():
    print(year)
    # find and select the national link
    page1 = requests.get(dl[year])
    soup1 = BeautifulSoup(page1.content, 'html.parser')
    hpl1= soup1.find_all('a',href=True)
    sublink=''
    for ele in hpl1:
        if ele.get_text()=='National':
            sublink=ele['href']
            break
    
    #find and select the csv file
    page1_1 = requests.get(sublink)
    soup1_1 = BeautifulSoup(page1_1.content, 'html.parser')
    hpl1_1= soup1_1.find_all('a',href=True)
    
    dll=''
    for ele in hpl1_1:
        if ele.get_text().endswith('SAS.zip'):
            dll=ele['href']
            break
    
    # Download file to the Data sets folder
    wget.download(dll,out='./Datasets')
    print('')

2009
100% [..........................................................................] 9707266 / 9707266
2010
100% [........................................................................] 13810722 / 13810722
2011
100% [........................................................................] 14099035 / 14099035
2012
100% [........................................................................] 15029317 / 15029317
2013
100% [........................................................................] 25191966 / 25191966
2014
100% [........................................................................] 25401135 / 25401135
2015
100% [........................................................................] 28731973 / 28731973
2016
100% [........................................................................] 21821873 / 21821873
2017
100% [........................................................................] 22270170 / 22270170
2018
100% [........................................................................] 22070494 / 22070494

# Unzip files

In [8]:
from zipfile import ZipFile
import os

In [10]:
filelist=os.listdir('./Datasets')
dict_file=dict(zip(dl.keys(),filelist))
dict_file

{2009: 'FARS2009NationalSAS.zip',
 2010: 'FARS2010NationalSAS.zip',
 2011: 'FARS2011NationalSAS.zip',
 2012: 'FARS2012NationalSAS.zip',
 2013: 'FARS2013NationalSAS.zip',
 2014: 'FARS2014NationalSAS.zip',
 2015: 'FARS2015NationalSAS.zip',
 2016: 'FARS2016NationalSAS.zip',
 2017: 'FARS2017NationalSAS.zip',
 2018: 'FARS2018NationalSAS.zip'}

In [11]:
for year,fname in dict_file.items():
    path='./Datasets/'+fname
    zip_ref=ZipFile(path,'r')
    zip_ref.extractall('./Datasets/'+str(year))
    zip_ref.close()
    os. remove(path) # remove zip file

# Mapping and then convert to csv file

In [12]:
import pandas as pd
import pyreadstat as prs

In [31]:
os.getcwd()
files=os.listdir('.\Datasets\\2014')
print(files)

['accident.sas7bdat', 'acc_aux.sas7bdat', 'cevent.sas7bdat', 'damage.sas7bdat', 'distract.sas7bdat', 'drimpair.sas7bdat', 'factor.sas7bdat', 'Format14.sas', 'formats.sas7bcat', 'maneuver.sas7bdat', 'miacc.sas7bdat', 'midrvacc.sas7bdat', 'miper.sas7bdat', 'nmcrash.sas7bdat', 'nmimpair.sas7bdat', 'nmprior.sas7bdat', 'parkwork.sas7bdat', 'pbtype.sas7bdat', 'person.sas7bdat', 'per_aux.sas7bdat', 'safetyeq.sas7bdat', 'vehicle.sas7bdat', 'veh_aux.sas7bdat', 'vevent.sas7bdat', 'violatn.sas7bdat', 'vision.sas7bdat', 'vsoe.sas7bdat']

In [33]:
files.remove('Format14.sas')
files.remove('formats.sas7bcat')
print(files)

['accident.sas7bdat', 'acc_aux.sas7bdat', 'cevent.sas7bdat', 'damage.sas7bdat', 'distract.sas7bdat', 'drimpair.sas7bdat', 'factor.sas7bdat', 'maneuver.sas7bdat', 'miacc.sas7bdat', 'midrvacc.sas7bdat', 'miper.sas7bdat', 'nmcrash.sas7bdat', 'nmimpair.sas7bdat', 'nmprior.sas7bdat', 'parkwork.sas7bdat', 'pbtype.sas7bdat', 'person.sas7bdat', 'per_aux.sas7bdat', 'safetyeq.sas7bdat', 'vehicle.sas7bdat', 'veh_aux.sas7bdat', 'vevent.sas7bdat', 'violatn.sas7bdat', 'vision.sas7bdat', 'vsoe.sas7bdat']

In [34]:
def union_data(fname):
    df_final=pd.DataFrame()
    for year in range(2014,2019):
        path='.\Datasets\\'+str(year)
        name=''
        files=os.listdir(path)
        for file in files:
            if file.find(fname)!=-1:
                name = file
                break
        name
        path_f = path + '\\'+name
        path_c = path + '\\formats.sas7bcat'
        print(path_f,path_c)
        df= prs.read_sas7bdat(path_f, catalog_file=path_c, formats_as_category=True)[0]
        #print(df.head())
        #pd.read_csv(path,encoding = "ISO-8859-1", low_memory=False)
        df['YEAR']=year
        print(df.shape)
        df_final=pd.concat([df_final,df])
        del df
    return df_final
union_data(files[0]).head()

.\Datasets\2014\accident.sas7bdat .\Datasets\2014\formats.sas7bcat
(30056, 50)
.\Datasets\2015\accident.sas7bdat .\Datasets\2015\formats.sas7bcat
(32538, 52)
.\Datasets\2016\accident.sas7bdat .\Datasets\2016\formats.sas7bcat
(34748, 52)
.\Datasets\2017\accident.sas7bdat .\Datasets\2017\formats.sas7bcat
(34560, 52)
.\Datasets\2018\accident.sas7bdat .\Datasets\2018\formats.sas7bcat
(33654, 52)

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR,RUR_URB,FUNC_SYS,RD_OWNER
0,Alabama,10001.0,1.0,1.0,0.0,0.0,0.0,2.0,2.0,71.0,...,Unknown,Unknown EMS Hospital Arrival Time,None,None,None,1.0,1.0,NaN,NaN,NaN
1,Alabama,10002.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,59.0,...,Unknown,Unknown EMS Hospital Arrival Time,None,None,None,1.0,1.0,NaN,NaN,NaN
2,Alabama,10003.0,2.0,2.0,0.0,0.0,0.0,7.0,7.0,125.0,...,Unknown,Unknown EMS Hospital Arrival Time,None,None,None,2.0,0.0,NaN,NaN,NaN
3,Alabama,10004.0,3.0,3.0,0.0,0.0,0.0,5.0,5.0,121.0,...,Unknown,Unknown EMS Hospital Arrival Time,None,None,None,1.0,0.0,NaN,NaN,NaN
4,Alabama,10005.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,43.0,...,Not Applicable (Not Transported),Not Applicable (Not Transported),None,None,None,1.0,0.0,NaN,NaN,NaN

In [59]:
for fname in files:
    df=union_data(fname)
    na_cols=df.isna().any()[df.isna().any()==True].index
    print(na_cols)
    df.drop(columns=na_cols,inplace=True)
    try: 
        df=df[df.STATE=='Texas'].copy() # choose only Texas
    except: continue
    print(df.shape)
    df.to_csv('.\Datasets\\'+fname.split('.')[0]+'_5ys.csv',index=False)

.\Datasets\2014\accident.sas7bdat .\Datasets\2014\formats.sas7bcat
(30056, 50)
.\Datasets\2015\accident.sas7bdat .\Datasets\2015\formats.sas7bcat
(32538, 52)
.\Datasets\2016\accident.sas7bdat .\Datasets\2016\formats.sas7bcat
(34748, 52)
.\Datasets\2017\accident.sas7bdat .\Datasets\2017\formats.sas7bcat
(34560, 52)
.\Datasets\2018\accident.sas7bdat .\Datasets\2018\formats.sas7bcat
(33654, 52)
Index(['ROAD_FNC', 'RUR_URB', 'FUNC_SYS', 'RD_OWNER'], dtype='object')
(16464, 49)
.\Datasets\2014\acc_aux.sas7bdat .\Datasets\2014\formats.sas7bcat
(30056, 41)
.\Datasets\2015\acc_aux.sas7bdat .\Datasets\2015\formats.sas7bcat
(32538, 41)
.\Datasets\2016\acc_aux.sas7bdat .\Datasets\2016\formats.sas7bcat
(34748, 42)
.\Datasets\2017\acc_aux.sas7bdat .\Datasets\2017\formats.sas7bcat
(34560, 42)
.\Datasets\2018\acc_aux.sas7bdat .\Datasets\2018\formats.sas7bcat
(33654, 42)
Index(['A_WEATHER'], dtype='object')
(16464, 41)
.\Datasets\2014\cevent.sas7bdat .\Datasets\2014\formats.sas7bcat
(91214, 9)
.\Datasets\2015\cevent.sas7bdat .\Datasets\2015\formats.sas7bcat
(98431, 9)
.\Datasets\2016\cevent.sas7bdat .\Datasets\2016\formats.sas7bcat
(103751, 9)
.\Datasets\2017\cevent.sas7bdat .\Datasets\2017\formats.sas7bcat
(101566, 9)
.\Datasets\2018\cevent.sas7bdat .\Datasets\2018\formats.sas7bcat
(95429, 9)
Index([], dtype='object')
(50078, 9)
.\Datasets\2014\damage.sas7bdat .\Datasets\2014\formats.sas7bcat
(177227, 5)
.\Datasets\2015\damage.sas7bdat .\Datasets\2015\formats.sas7bcat
(195377, 5)
.\Datasets\2016\damage.sas7bdat .\Datasets\2016\formats.sas7bcat
(214891, 5)
.\Datasets\2017\damage.sas7bdat .\Datasets\2017\formats.sas7bcat
(215733, 5)
.\Datasets\2018\damage.sas7bdat .\Datasets\2018\formats.sas7bcat
(205315, 5)
Index([], dtype='object')
(65101, 5)
.\Datasets\2014\distract.sas7bdat .\Datasets\2014\formats.sas7bcat
(44977, 5)
.\Datasets\2015\distract.sas7bdat .\Datasets\2015\formats.sas7bcat
(49520, 5)
.\Datasets\2016\distract.sas7bdat .\Datasets\2016\formats.sas7bcat
(52757, 5)
.\Datasets\2017\distract.sas7bdat .\Datasets\2017\formats.sas7bcat
(53188, 5)
.\Datasets\2018\distract.sas7bdat .\Datasets\2018\formats.sas7bcat
(51889, 5)
Index([], dtype='object')
(25740, 5)
.\Datasets\2014\drimpair.sas7bdat .\Datasets\2014\formats.sas7bcat
(45136, 5)
.\Datasets\2015\drimpair.sas7bdat .\Datasets\2015\formats.sas7bcat
(49649, 5)
.\Datasets\2016\drimpair.sas7bdat .\Datasets\2016\formats.sas7bcat
(52929, 5)
.\Datasets\2017\drimpair.sas7bdat .\Datasets\2017\formats.sas7bcat
(53349, 5)
.\Datasets\2018\drimpair.sas7bdat .\Datasets\2018\formats.sas7bcat
(52032, 5)
Index([], dtype='object')
(25920, 5)
.\Datasets\2014\factor.sas7bdat .\Datasets\2014\formats.sas7bcat
(45008, 5)
.\Datasets\2015\factor.sas7bdat .\Datasets\2015\formats.sas7bcat
(49546, 5)
.\Datasets\2016\factor.sas7bdat .\Datasets\2016\formats.sas7bcat
(52782, 5)
.\Datasets\2017\factor.sas7bdat .\Datasets\2017\formats.sas7bcat
(53209, 5)
.\Datasets\2018\factor.sas7bdat .\Datasets\2018\formats.sas7bcat
(51925, 5)
Index([], dtype='object')
(25742, 5)
.\Datasets\2014\maneuver.sas7bdat .\Datasets\2014\formats.sas7bcat
(44963, 5)
.\Datasets\2015\maneuver.sas7bdat .\Datasets\2015\formats.sas7bcat
(49490, 5)
.\Datasets\2016\maneuver.sas7bdat .\Datasets\2016\formats.sas7bcat
(52726, 5)
.\Datasets\2017\maneuver.sas7bdat .\Datasets\2017\formats.sas7bcat
(53139, 5)
.\Datasets\2018\maneuver.sas7bdat .\Datasets\2018\formats.sas7bcat
(51881, 5)
Index([], dtype='object')
(25718, 5)
.\Datasets\2014\miacc.sas7bdat .\Datasets\2014\formats.sas7bcat
(30056, 12)
.\Datasets\2015\miacc.sas7bdat .\Datasets\2015\formats.sas7bcat
(32538, 12)
.\Datasets\2016\miacc.sas7bdat .\Datasets\2016\formats.sas7bcat
(34748, 12)
.\Datasets\2017\miacc.sas7bdat .\Datasets\2017\formats.sas7bcat
(34560, 12)
.\Datasets\2018\miacc.sas7bdat .\Datasets\2018\formats.sas7bcat
(33654, 12)
Index([], dtype='object')
.\Datasets\2014\midrvacc.sas7bdat .\Datasets\2014\formats.sas7bcat
(29984, 12)
.\Datasets\2015\midrvacc.sas7bdat .\Datasets\2015\formats.sas7bcat
(32453, 12)
.\Datasets\2016\midrvacc.sas7bdat .\Datasets\2016\formats.sas7bcat
(34667, 12)
.\Datasets\2017\midrvacc.sas7bdat .\Datasets\2017\formats.sas7bcat
(34467, 12)
.\Datasets\2018\midrvacc.sas7bdat .\Datasets\2018\formats.sas7bcat
(33568, 12)
Index([], dtype='object')
.\Datasets\2014\miper.sas7bdat .\Datasets\2014\formats.sas7bcat
(51001, 14)
.\Datasets\2015\miper.sas7bdat .\Datasets\2015\formats.sas7bcat
(56202, 14)
.\Datasets\2016\miper.sas7bdat .\Datasets\2016\formats.sas7bcat
(60066, 14)
.\Datasets\2017\miper.sas7bdat .\Datasets\2017\formats.sas7bcat
(60362, 14)
.\Datasets\2018\miper.sas7bdat .\Datasets\2018\formats.sas7bcat
(59276, 14)
Index([], dtype='object')
.\Datasets\2014\nmcrash.sas7bdat .\Datasets\2014\formats.sas7bcat
(7849, 6)
.\Datasets\2015\nmcrash.sas7bdat .\Datasets\2015\formats.sas7bcat
(8870, 6)
.\Datasets\2016\nmcrash.sas7bdat .\Datasets\2016\formats.sas7bcat
(9836, 6)
.\Datasets\2017\nmcrash.sas7bdat .\Datasets\2017\formats.sas7bcat
(9888, 6)
.\Datasets\2018\nmcrash.sas7bdat .\Datasets\2018\formats.sas7bcat
(10733, 6)
Index([], dtype='object')
(4116, 6)
.\Datasets\2014\nmimpair.sas7bdat .\Datasets\2014\formats.sas7bcat
(6373, 6)
.\Datasets\2015\nmimpair.sas7bdat .\Datasets\2015\formats.sas7bcat
(7088, 6)
.\Datasets\2016\nmimpair.sas7bdat .\Datasets\2016\formats.sas7bcat
(7692, 6)
.\Datasets\2017\nmimpair.sas7bdat .\Datasets\2017\formats.sas7bcat
(7636, 6)
.\Datasets\2018\nmimpair.sas7bdat .\Datasets\2018\formats.sas7bcat
(7820, 6)
Index([], dtype='object')
(3552, 6)
.\Datasets\2014\nmprior.sas7bdat .\Datasets\2014\formats.sas7bcat
(6610, 6)
.\Datasets\2015\nmprior.sas7bdat .\Datasets\2015\formats.sas7bcat
(7308, 6)
.\Datasets\2016\nmprior.sas7bdat .\Datasets\2016\formats.sas7bcat
(7977, 6)
.\Datasets\2017\nmprior.sas7bdat .\Datasets\2017\formats.sas7bcat
(7886, 6)
.\Datasets\2018\nmprior.sas7bdat .\Datasets\2018\formats.sas7bcat
(8090, 6)
Index([], dtype='object')
(3724, 6)
.\Datasets\2014\parkwork.sas7bdat .\Datasets\2014\formats.sas7bcat
(1089, 58)
.\Datasets\2015\parkwork.sas7bdat .\Datasets\2015\formats.sas7bcat
(1160, 58)
.\Datasets\2016\parkwork.sas7bdat .\Datasets\2016\formats.sas7bcat
(1404, 61)
.\Datasets\2017\parkwork.sas7bdat .\Datasets\2017\formats.sas7bcat
(1383, 61)
.\Datasets\2018\parkwork.sas7bdat .\Datasets\2018\formats.sas7bcat
(1310, 61)
Index(['PTRLR1VIN', 'PTRLR2VIN', 'PTRLR3VIN'], dtype='object')
(654, 58)
.\Datasets\2014\pbtype.sas7bdat .\Datasets\2014\formats.sas7bcat
(6253, 25)
.\Datasets\2015\pbtype.sas7bdat .\Datasets\2015\formats.sas7bcat
(6965, 25)
.\Datasets\2016\pbtype.sas7bdat .\Datasets\2016\formats.sas7bcat
(7576, 25)
.\Datasets\2017\pbtype.sas7bdat .\Datasets\2017\formats.sas7bcat
(7506, 25)
.\Datasets\2018\pbtype.sas7bdat .\Datasets\2018\formats.sas7bcat
(7718, 25)
Index([], dtype='object')
(3491, 25)
.\Datasets\2014\person.sas7bdat .\Datasets\2014\formats.sas7bcat
(73711, 69)
.\Datasets\2015\person.sas7bdat .\Datasets\2015\formats.sas7bcat
(81620, 69)
.\Datasets\2016\person.sas7bdat .\Datasets\2016\formats.sas7bcat
(86474, 69)
.\Datasets\2017\person.sas7bdat .\Datasets\2017\formats.sas7bcat
(85840, 69)
.\Datasets\2018\person.sas7bdat .\Datasets\2018\formats.sas7bcat
(83626, 63)
Index(['ROAD_FNC', 'MAKE', 'MAK_MOD', 'BODY_TYP', 'MOD_YEAR', 'TOW_VEH',
       'SPEC_USE', 'EMER_USE', 'ROLLOVER', 'IMPACT1', 'FIRE_EXP', 'DRUGTST1',
       'DRUGTST2', 'DRUGTST3', 'DRUGRES1', 'DRUGRES2', 'DRUGRES3', 'CERT_NO',
       'RUR_URB', 'FUNC_SYS'],
      dtype='object')
(42928, 51)
.\Datasets\2014\per_aux.sas7bdat .\Datasets\2014\formats.sas7bcat
(73711, 22)
.\Datasets\2015\per_aux.sas7bdat .\Datasets\2015\formats.sas7bcat
(81620, 23)
.\Datasets\2016\per_aux.sas7bdat .\Datasets\2016\formats.sas7bcat
(86474, 24)
.\Datasets\2017\per_aux.sas7bdat .\Datasets\2017\formats.sas7bcat
(85840, 24)
.\Datasets\2018\per_aux.sas7bdat .\Datasets\2018\formats.sas7bcat
(83626, 24)
Index(['A_REST', 'A_RESTUSE', 'A_HELMUSE', 'A_DOA'], dtype='object')
.\Datasets\2014\safetyeq.sas7bdat .\Datasets\2014\formats.sas7bcat
(6379, 6)
.\Datasets\2015\safetyeq.sas7bdat .\Datasets\2015\formats.sas7bcat
(7090, 6)
.\Datasets\2016\safetyeq.sas7bdat .\Datasets\2016\formats.sas7bcat
(7695, 6)
.\Datasets\2017\safetyeq.sas7bdat .\Datasets\2017\formats.sas7bcat
(7608, 11)
.\Datasets\2018\safetyeq.sas7bdat .\Datasets\2018\formats.sas7bcat

(7802, 11)
Index(['MSAFEQMT', 'NMHELMET', 'NMPROPAD', 'NMOTHPRO', 'NMREFCLO', 'NMLIGHT',
       'NMOTHPRE'],
      dtype='object')
(3544, 5)
.\Datasets\2014\vehicle.sas7bdat .\Datasets\2014\formats.sas7bcat
(44950, 103)
.\Datasets\2015\vehicle.sas7bdat .\Datasets\2015\formats.sas7bcat
(49478, 103)
.\Datasets\2016\vehicle.sas7bdat .\Datasets\2016\formats.sas7bcat
(52714, 106)
.\Datasets\2017\vehicle.sas7bdat .\Datasets\2017\formats.sas7bcat
(53128, 106)
.\Datasets\2018\vehicle.sas7bdat .\Datasets\2018\formats.sas7bcat
(51872, 108)
Index(['PREV_SUS', 'TRLR1VIN', 'TRLR2VIN', 'TRLR3VIN', 'PREV_SUS1',
       'PREV_SUS2', 'PREV_SUS3'],
      dtype='object')
(25716, 102)
.\Datasets\2014\veh_aux.sas7bdat .\Datasets\2014\formats.sas7bcat
(44950, 16)
.\Datasets\2015\veh_aux.sas7bdat .\Datasets\2015\formats.sas7bcat
(49478, 16)
.\Datasets\2016\veh_aux.sas7bdat .\Datasets\2016\formats.sas7bcat
(52714, 17)
.\Datasets\2017\veh_aux.sas7bdat .\Datasets\2017\formats.sas7bcat
(53128, 17)
.\Datasets\2018\veh_aux.sas7bdat .\Datasets\2018\formats.sas7bcat
(51872, 17)
Index(['A_IMP2', 'A_FIRE_EXP'], dtype='object')
.\Datasets\2014\vevent.sas7bdat .\Datasets\2014\formats.sas7bcat
(107161, 11)
.\Datasets\2015\vevent.sas7bdat .\Datasets\2015\formats.sas7bcat
(116577, 11)
.\Datasets\2016\vevent.sas7bdat .\Datasets\2016\formats.sas7bcat
(123131, 11)
.\Datasets\2017\vevent.sas7bdat .\Datasets\2017\formats.sas7bcat
(121464, 11)
.\Datasets\2018\vevent.sas7bdat .\Datasets\2018\formats.sas7bcat
(114698, 11)
Index([], dtype='object')
(60156, 11)
.\Datasets\2014\violatn.sas7bdat .\Datasets\2014\formats.sas7bcat
(47712, 5)
.\Datasets\2015\violatn.sas7bdat .\Datasets\2015\formats.sas7bcat
(52574, 5)
.\Datasets\2016\violatn.sas7bdat .\Datasets\2016\formats.sas7bcat
(55927, 5)
.\Datasets\2017\violatn.sas7bdat .\Datasets\2017\formats.sas7bcat
(56281, 5)
.\Datasets\2018\violatn.sas7bdat .\Datasets\2018\formats.sas7bcat
(55014, 5)
Index([], dtype='object')
(27519, 5)
.\Datasets\2014\vision.sas7bdat .\Datasets\2014\formats.sas7bcat
(44992, 5)
.\Datasets\2015\vision.sas7bdat .\Datasets\2015\formats.sas7bcat
(49515, 5)
.\Datasets\2016\vision.sas7bdat .\Datasets\2016\formats.sas7bcat
(52757, 5)
.\Datasets\2017\vision.sas7bdat .\Datasets\2017\formats.sas7bcat
(53176, 5)
.\Datasets\2018\vision.sas7bdat .\Datasets\2018\formats.sas7bcat
(51932, 5)
Index([], dtype='object')
(25732, 5)
.\Datasets\2014\vsoe.sas7bdat .\Datasets\2014\formats.sas7bcat
(107161, 7)
.\Datasets\2015\vsoe.sas7bdat .\Datasets\2015\formats.sas7bcat
(116577, 7)
.\Datasets\2016\vsoe.sas7bdat .\Datasets\2016\formats.sas7bcat
(123131, 7)
.\Datasets\2017\vsoe.sas7bdat .\Datasets\2017\formats.sas7bcat
(121464, 7)
.\Datasets\2018\vsoe.sas7bdat .\Datasets\2018\formats.sas7bcat
(114698, 7)
Index([], dtype='object')
(60156, 7)

# map county and city

In [60]:
# accident
df=pd.read_csv('.\Datasets\\accident_5ys.csv')
df.head()

C:\Users\DuongHung\anaconda3\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (16,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,Texas,480001.0,2.0,2.0,0.0,1.0,1.0,2.0,2.0,29.0,...,Unknown if Notified,Unknown EMS Scene Arrival Hour,Unknown if Arrived,Not Applicable (Not Transported),Not Applicable (Not Transported),Recent/Previous Crash scene Nearby,None,None,1.0,0.0
1,Texas,480002.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,113.0,...,Unknown,Unknown EMS Scene Arrival Hour,Unknown EMS Scene Arrival Minutes,Unknown,Unknown EMS Hospital Arrival Time,None,None,None,1.0,1.0
2,Texas,480003.0,2.0,2.0,0.0,0.0,0.0,4.0,4.0,113.0,...,11,3:00pm-3:59pm,16,3:00pm-3:59pm,33,None,None,None,2.0,0.0
3,Texas,480004.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,157.0,...,Unknown if Notified,Unknown EMS Scene Arrival Hour,Unknown if Arrived,Not Applicable (Not Transported),Not Applicable (Not Transported),None,None,None,1.0,1.0
4,Texas,480005.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,177.0,...,Unknown if Notified,Unknown EMS Scene Arrival Hour,Unknown if Arrived,Not Applicable (Not Transported),Not Applicable (Not Transported),None,None,None,1.0,0.0

In [86]:
df.columns

Index(['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'ROUTE', 'TWAY_ID',
       'TWAY_ID2', 'MILEPT', 'LATITUDE', 'LONGITUD', 'SP_JUR', 'HARM_EV',
       'MAN_COLL', 'RELJCT1', 'RELJCT2', 'TYP_INT', 'WRK_ZONE', 'REL_ROAD',
       'LGT_COND', 'WEATHER1', 'WEATHER2', 'WEATHER', 'SCH_BUS', 'RAIL',
       'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR', 'ARR_MIN', 'HOSP_HR', 'HOSP_MN',
       'CF1', 'CF2', 'CF3', 'FATALS', 'DRUNK_DR'],
      dtype='object')

In [61]:
GSA=pd.read_excel('.\Datasets\\GLCUnitedstatesJune102020.xlsx')
GSA.head()

,Territory,State Name,State Code,City Code,City Name,County Code,County Name,Country Code,Old City Name,Date Record Added,Duty Station Code
0,U,ALABAMA,1,10,ABBEVILLE,67,HENRY,840,NaN,NaT,10010067
1,U,ALABAMA,1,50,ALBERTVILLE,95,MARSHALL,840,NaN,NaT,10050095
2,U,ALABAMA,1,60,ALEXANDER CITY,123,TALLAPOOSA,840,NaN,NaT,10060123
3,U,ALABAMA,1,70,ALICEVILLE,107,PICKENS,840,NaN,NaT,10070107
4,U,ALABAMA,1,90,ANDALUSIA,39,COVINGTON,840,NaN,NaT,10090039

In [62]:
GSA_texas=GSA[GSA['State Name']=='TEXAS']
GSA_texas.head()

,Territory,State Name,State Code,City Code,City Name,County Code,County Name,Country Code,Old City Name,Date Record Added,Duty Station Code
32966,U,TEXAS,48,10,ABBOTT,217,HILL,840,NaN,NaT,480010217
32967,U,TEXAS,48,20,ABERNATHY,189,HALE,840,NaN,NaT,480020189
32968,U,TEXAS,48,20,ABERNATHY,303,LUBBOCK,840,NaN,NaT,480020303
32969,U,TEXAS,48,30,ABILENE,253,JONES,840,NaN,NaT,480030253
32970,U,TEXAS,48,30,ABILENE,441,TAYLOR,840,NaN,NaT,480030441

In [81]:
county_code=GSA_texas[['County Code','County Name']].copy().set_index('County Code')
county_code=county_code.to_dict()['County Name']

In [83]:
df['COUNTY']=df.COUNTY.astype('Int32').map(county_code)

In [84]:
city_code=GSA_texas[['City Code','City Name']].copy().set_index('City Code')
city_code=city_code.to_dict()['City Name']
city_code

{10: 'ABBOTT',
 20: 'ABERNATHY',
 30: 'ABILENE',
 23: 'ACALA',
 25: 'ACE',
 29: 'ACKERLY',
 34: 'ACTON',
 28: 'ADAMSVILLE',
 32: 'ADDICKS',
 31: 'ADDISON',
 33: 'ADKINS',
 35: 'ADRIAN',
 36: 'AFTON',
 40: 'AGUA DULCE',
 45: 'AGUILARES',
 48: 'AIKEN',
 50: 'ALAMO',
 60: 'ALAMO HEIGHTS',
 65: 'ALANREED',
 70: 'ALBA',
 80: 'ALBANY',
 83: 'ALBERT',
 85: 'ALEDO',
 90: 'ALICE',
 89: 'ALICE SOUTHWEST',
 91: 'ALIEF',
 92: 'ALLEN',
 95: 'ALLISON',
 96: 'ALMA',
 100: 'ALPINE',
 104: 'ALTAIR',
 110: 'ALTO',
 119: 'ALTOGA',
 114: 'ALTON',
 120: 'ALVARADO',
 130: 'ALVIN',
 140: 'ALVORD',
 150: 'AMARILLO',
 155: 'AMBROSE',
 157: 'AMES',
 160: 'AMHERST',
 170: 'ANAHUAC',
 175: 'ANDERSON',
 176: 'ANDERSON MILL',
 180: 'ANDREWS',
 190: 'ANGLETON',
 196: 'ANGUS',
 200: 'ANNA',
 208: 'ANNETH NORTH',
 210: 'ANNONA',
 220: 'ANSON',
 223: 'ANTELOPE',
 225: 'ANTHONY',
 230: 'ANTON',
 231: 'APPLE SPRINGS',
 232: 'APPLEBY',
 237: 'AQUILLA',
 240: 'ARANSAS PASS',
 249: 'ARCADIA',
 250: 'FRISCO',
 253: 'ARCOLA',
 255: 'ARGYLE',
 260: 'ARLINGTON',
 265: 'ARMSTRONG',
 270: 'ARP',
 272: 'ART',
 275: 'ARTESIA WELLS',
 276: 'ARTHUR CITY',
 280: 'ASHERTON',
 290: 'ASPERMONT',
 295: 'ATASCOSA',
 300: 'ATHENS',
 310: 'ATLANTA',
 320: 'AUBREY',
 329: 'AURORA',
 330: 'AUSTIN',
 340: 'AUSTWELL',
 345: 'AVALON',
 350: 'AVERY',
 360: 'AVINGER',
 362: 'AVOCA',
 363: 'AXTELL',
 364: 'AZLE',
 366: 'BACLIFF',
 368: 'BAGWELL',
 370: 'BAILEY',
 375: 'BAILEYS PRAIRIE',
 380: 'BAIRD',
 387: 'BALCH SPRINGS',
 390: 'BALCONES HEIGHTS',
 400: 'BALLINGER',
 405: 'BALMORHEA',
 410: 'BANDERA',
 420: 'BANGS',
 427: 'BANQUETE',
 428: 'BARCLAY',
 430: 'BARDWELL',
 432: 'BARKER',
 433: 'BARKSDALE',
 435: 'BARNHART',
 436: 'BARNUM',
 437: 'BARRETT',
 439: 'BARRY',
 440: 'BARSTOW',
 450: 'BARTLETT',
 452: 'BARTONVILLE',
 460: 'BASTROP',
 463: 'BATESVILLE',
 465: 'BATSON',
 470: 'BAY CITY',
 475: 'BAYSIDE',
 480: 'BAYTOWN',
 482: 'BAYVIEW',
 486: 'BEACH CITY',
 488: 'BEASLEY',
 490: 'BEAUMONT',
 495: 'BEAUMONT PLACE',
 505: 'BEBE',
 500: 'BECKVILLE',
 502: 'BEDFORD',
 503: 'BEDIAS',
 507: 'BEE HOUSE',
 510: 'BEEVILLE',
 520: 'BELCHERVILLE',
 522: 'BELFALLS',
 530: 'BELLAIRE',
 540: 'BELLEVUE',
 545: 'BELLMEAD',
 550: 'BELLS',
 560: 'BELLVILLE',
 565: 'BELMONT',
 570: 'BELTON',
 584: 'BEN ARNOLD',
 586: 'BEN BOLT',
 595: 'BEN FRANKLIN',
 604: 'BEN WHEELER',
 580: 'BENAVIDES',
 590: 'BENBROOK',
 592: 'BEND',
 600: 'BENJAMIN',
 603: 'BERCLAIR',
 602: 'BERGHEIM',
 605: 'BERGSTROM AFB',
 601: 'BERRYVILLE',
 606: 'BERTRAM',
 607: 'BEST',
 608: 'BETTIE',
 610: 'BEVERLY HILLS',
 612: 'BEVIL OAKS',
 614: 'BIG BEND NATL PARK',
 620: 'BIG LAKE',
 630: 'BIG SANDY',
 640: 'BIG SPRING',
 650: 'BIG WELLS',
 616: 'BIGFOOT',
 615: 'BIGGS AF BASE',
 655: 'BIROME',
 660: 'BISHOP',
 663: 'BIVINS',
 667: 'BLACK',
 668: 'BLACKWELL',
 670: 'BLANCO',
 680: 'BLANKET',
 681: 'BLEAKWOOD',
 682: 'BLEDSOE',
 683: 'BLEIBLERVILLE',
 684: 'BLESSING',
 690: 'BLOOMBURG',
 700: 'BLOOMING GROVE',
 702: 'BLOOMINGTON',
 710: 'BLOSSOM',
 719: 'BLUE MOUND',
 720: 'BLUE RIDGE',
 718: 'BLUEGROVE',
 722: 'BLUFF DALE',
 725: 'BLUFFTON',
 730: 'BLUM',
 740: 'BOERNE',
 750: 'BOGATA',
 757: 'BOLING',
 758: 'BOMARTON',
 765: 'BON WEIR',
 760: 'BONHAM',
 773: 'BONITA',
 774: 'BONNEY',
 770: 'BOOKER',
 775: 'BOOTH',
 780: 'BORGER',
 790: 'BOVINA',
 800: 'BOWIE',
 810: 'BOYD',
 814: 'BOYS RANCH',
 815: 'BRACKEN',
 820: 'BRACKETTVILLE',
 830: 'BRADY',
 840: 'BRANDON',
 845: 'BRASHEAR',
 850: 'BRAZORIA',
 851: 'BRAZOS',
 852: 'BRAZOS POINT',
 860: 'BRECKENRIDGE',
 870: 'BREMOND',
 880: 'BRENHAM',
 872: 'BRIAR',
 876: 'BRIAR OAKS',
 885: 'BRIDGE CITY',
 890: 'BRIDGEPORT',
 892: 'BRIGGS',
 893: 'BRISCOE',
 895: 'BRITTON',
 896: 'BROADDUS',
 897: 'BRONSON',
 900: 'BRONTE',
 904: 'BROOKELAND',
 903: 'BROOKESMITH',
 905: 'BROOKS AF BASE',
 910: 'BROOKSHIRE',
 912: 'BROOKSIDE VILLAGE',
 915: 'BROOKSTON',
 922: 'BROWNDELL',
 920: 'BROWNFIELD',
 930: 'BROWNSBORO',
 940: 'BROWNSVILLE',
 950: 'BROWNWOOD',
 957: 'BRUCEVILLE EDDY',
 956: 'BRUCEVILLE-EDDY',
 958: 'BRUNI',
 970: 'BRYAN',
 980: 'BRYSON',
 985: 'BUCHANAN DAM',
 984: 'BUCKEYE',
 986: 'BUCKHOLTS',
 987: 'BUCKINGHAM',
 990: 'BUDA',
 1000: 'BUFFALO',
 1002: 'BUFFALO GAP',
 1008: 'BULA',
 1010: 'BULLARD',
 1012: 'BULVERDE',
 1015: 'BUNA',
 1017: 'BUNKER HILL',
 1020: 'BURKBURNETT',
 1021: 'BURKE',
 1025: 'BURKETT',
 1022: 'BURKEVILLE',
 1030: 'BURLESON',
 1032: 'BURLINGTON',
 1040: 'BURNET',
 1042: 'BURR',
 1041: 'BURTON',
 1045: 'BUSHLAND',
 1047: 'BUSTAMANTE',
 1050: 'BYERS',
 1051: 'BYNUM',
 1059: 'CACTUS',
 1061: 'CADDO',
 1060: 'CADDO MILLS',
 1070: 'CALDWELL',
 1072: 'CALL',
 1075: 'CALLIHAM',
 1080: 'CALVERT',
 1090: 'CAMDEN',
 1100: 'CAMERON',
 1112: 'CAMP MABRY',
 1115: 'CAMP SAN SABA',
 1120: 'CAMP WOOD',
 1109: 'CAMPBELL',
 1110: 'CAMPBELLTON',
 1130: 'CANADIAN',
 1133: 'CANEY CITY',
 1140: 'CANTON',
 1150: 'CANUTILLO',
 1160: 'CANYON',
 1161: 'CANYON LAKE',
 1168: 'CARADAN',
 1170: 'CARBON',
 1171: 'CAREY',
 1173: 'CARLSBAD',
 1174: 'CARLTON',
 1175: 'CARMINE',
 1180: 'CARRIZO SPRINGS',
 1190: 'CARROLLTON',
 1195: 'FEDERAL MEDICAL CENTER (FMC) CARSWELL ',
 1197: 'CARTA VALLEY',
 1200: 'CARTHAGE',
 1208: 'CASON',
 1207: 'CASTELL',
 1209: 'CASTLE HILLS',
 1210: 'CASTROVILLE',
 1221: 'CAT SPRING',
 1220: 'CATARINA',
 1223: 'CAYUGA',
 1230: 'CEDAR CREEK',
 1240: 'CEDAR HILL',
 1241: 'CEDAR LANE',
 1242: 'CEDAR PARK',
 1245: 'CEE VEE',
 1250: 'CELESTE',
 1260: 'CELINA',
 1270: 'CENTER',
 1278: 'CENTER POINT',
 1280: 'CENTERVILLE',
 1282: 'CENTRALIA',
 1283: 'CHALK',
 1284: 'CHANDLER',
 1285: 'CHANNELVIEW',
 1286: 'CHANNING',
 1288: 'CHAPMAN RANCH',
 1287: 'CHAPPELL HILL',
 1289: 'CHARLESTON',
 1290: 'CHARLOTTE',
 1295: 'CHASE FIELD',
 1293: 'CHATFIELD',
 1294: 'CHEAPSIDE',
 1299: 'CHEEK',
 1297: 'CHEROKEE',
 1296: 'CHESTER',
 1298: 'CHICO',
 1301: 'CHICOTA',
 1300: 'CHILDRESS',
 1310: 'CHILLICOTHE',
 1311: 'CHILTON',
 1312: 'CHINA',
 1315: 'CHINA GROVE',
 1314: 'CHINA SPRING',
 1313: 'CHIRENO',
 1318: 'CHOCOLATE BAYOU',
 1319: 'CHRIESMAN',
 1320: 'CHRISTINE',
 1323: 'CHRISTOVAL',
 1325: 'CIBOLO',
 1330: 'CISCO',
 7080: 'CITY OF UNIVERSITY PARK',
 1335: 'CLAIREMONT',
 1338: 'CLAIRETTE',
 1340: 'CLARENDON',
 1350: 'CLARKSVILLE',
 1360: 'CLAUDE',
 1362: 'CLAY',
 1363: 'CLAYTON',
 1365: 'CLEAR LAKE CITY',
 1366: 'CLEAR LAKE SHORES',
 1370: 'CLEBURNE',
 1375: 'CLEMVILLE',
 1376: 'CLEO',
 1380: 'CLEVELAND',
 1390: 'CLIFTON',
 1392: 'CLINE',
 1391: 'CLINT',
 1395: 'CLUTE',
 1400: 'CLYDE',
 1410: 'COAHOMA',
 1420: 'COCKRELL HILL',
 1424: 'COFFEE CITY',
 1428: 'COLDSPRING',
 1430: 'COLEMAN',
 1440: 'COLLEGE STATION',
 1435: 'COLLEGEPORT',
 1442: 'COLLEYVILLE',
 1450: 'COLLINSVILLE',
 1458: 'COLMESNEIL',
 1460: 'COLORADO CITY',
 1470: 'COLUMBUS',
 1480: 'COMANCHE',
 1481: 'COMBES',
 1482: 'COMBINE',
 1489: 'COMFORT',
 1490: 'COMMERCE',
 1500: 'COMO',
 1503: 'COMSTOCK',
 1495: 'COMYN',
 1504: 'CONCAN',
 1506: 'CONCEPCION',
 1507: 'CONCORD',
 1508: 'CONE',
 1505: 'CONNALLY AFB',
 1510: 'CONROE',
 1512: 'CONVERSE',
 1514: 'CONWAY',
 1517: 'COOKS POINT',
 1519: 'COOKVILLE',
 1518: 'COOL',
 1520: 'COOLIDGE',
 1530: 'COOPER',
 1535: 'COPEVILLE',
 1539: 'COPPELL',
 1542: 'COPPER CANYON',
 1540: 'COPPERAS COVE',
 1545: 'CORINTH',
 1547: 'CORNUDAS',
 1550: 'CORPUS CHRISTI',
 1552: 'CORRAL CITY',
 1560: 'CORRIGAN',
 1570: 'CORSICANA',
 1578: 'COST',
 1579: 'COTTON CENTER',
 1580: 'COTULLA',
 1585: 'COUPLAND',
 1586: 'COURTNEY',
 1587: 'COVE',
 1588: 'COVINGTON',
 1591: 'COY CITY',
 1589: 'COYANOSA',
 1590: 'CRANDALL',
 1600: 'CRANE',
 1601: 'CRANFILLS GAP',
 1610: 'CRAWFORD',
 1612: 'CREEDMOOR',
 1613: 'CRESSON',
 1620: 'CROCKETT',
 1629: 'CROSBY',
 1630: 'CROSBYTON',
 1640: 'CROSS PLAINS',
 1650: 'CROWELL',
 1654: 'CROWLEY',
 1658: 'CRYSTAL BEACH',
 1660: 'CRYSTAL CITY',
 1670: 'CUERO',
 1680: 'CUMBY',
 1688: 'CUNEY',
 1689: 'CUNNINGHAM',
 1690: 'CUSHING',
 1692: 'CUT AND SHOOT',
 1695: 'CYPRESS',
 1700: 'DAINGERFIELD',
 1710: 'DAISETTA',
 1719: 'DALE',
 1720: 'DALHART',
 1725: 'DALLARDSVILLE',
 1730: 'DALLAS',
 1740: 'DALWORTHINGTON GDNS',
 1741: 'DAMON',
 1745: 'DANBURY',
 1744: 'DANCIGER',
 1746: 'DANEVANG',
 1748: 'DANVILLE',
 1750: 'DARROUZETT',
 1755: 'DAVILLA',
 1758: 'DAWN',
 1760: 'DAWSON',
 1770: 'DAYTON',
 1779: 'DE BERRY',
 1810: 'DE LEON',
 1775: 'DEANVILLE',
 1780: 'DECATUR',
 1790: 'DEER PARK',
 1800: 'DEKALB',
 1820: 'DEL RIO',
 1821: 'DEL VALLE',
 1805: 'DELL CITY',
 1812: 'DELMITA',
 1825: 'DELWIN',
 1830: 'DENISON',
 1835: 'DENNIS',
 1840: 'DENTON',
 1850: 'DENVER CITY',
 1860: 'DEPORT',
 1862: 'DERMOTT',
 1865: 'DESDEMONA',
 1870: 'DESOTO',
 1880: 'DETROIT',
 1881: 'DEVERS',
 1890: 'DEVINE',
 1891: 'DEWALT',
 1894: 'DEWEYVILLE',
 1898: 'DHANIS',
 1896: 'DIAL',
 1897: 'DIALVILLE',
 1899: 'DIANA',
 1900: 'DIBOLL',
 1910: 'DICKENS',
 1920: 'DICKINSON',
 1929: 'DIKE',
 1930: 'DILLEY',
 1937: 'DIME BOX',
 1940: 'DIMMITT',
 1944: 'DINERO',
 1945: 'DIRECT',
 1949: 'DOBBIN',
 1950: 'DODD CITY',
 1955: 'DODGE',
 1960: 'DODSON',
 1963: 'DOMINO',
 1967: 'DONIE',
 1970: 'DONNA',
 1973: 'DOOLE',
 1985: 'DORCHESTER',
 1975: 'DOSS',
 1976: 'DOUBLE OAK',
 1981: 'DOUCETTE',
 1982: 'DOUGHERTY',
 1983: 'DOUGLASS',
 1984: 'DOUGLASSVILLE',
 1989: 'DRIFTWOOD',
 1986: 'DRIPPING SPRINGS',
 1987: 'DRISCOLL',
 1988: 'DRYDEN',
 1990: 'DUBLIN',
 1997: 'DUFFAU',
 2000: 'DUMAS',
 2005: 'DUMONT',
 2010: 'DUNCANVILLE',
 2014: 'DUNDEE',
 2015: 'DUNLAY',
 2016: 'DUNN',
 2017: 'DYESS AFB',
 2020: 'EAGLE LAKE',
 2030: 'EAGLE PASS',
 2035: 'EARLY',
 2040: 'EARTH',
 2045: 'EAST BERNARD',
 2047: 'EAST MOUNTAIN',
 2062: 'EAST TAWAKONI',
 2046: 'EASTER',
 2048: 'EASTERLY',
 2050: 'EASTLAND',
 2060: 'EASTON',
 2064: 'EASTVALE',
 2075: 'ECLETO',
 2070: 'ECTOR',
 2080: 'EDCOUCH',
 2082: 'EDDY',
 2090: 'EDEN',
 2095: 'EDGECLIFF VILLAGE',
 2100: 'EDGEWOOD',
 2110: 'EDINBURG',
 2117: 'EDMONSON',
 2120: 'EDNA',
 2121: 'EDOM',
 2125: 'EDROY',
 2127: 'EGYPT',
 2130: 'EL CAMPO',
 2131: 'EL CAMPO NORTH',
 2132: 'EL CAMPO SOUTH',
 2141: 'EL DORADO AFS',
 2165: 'EL INDIO',
 2178: 'EL LAGO',
 2190: 'EL PASO',
 2202: 'EL SAUZ',
 2128: 'ELBERT',
 2140: 'ELDORADO',
 2150: 'ELECTRA',
 2155: 'ELECTRIC CITY',
 2160: 'ELGIN',
 2161: 'ELIASVILLE',
 2170: 'ELKHART',
 2180: 'ELLINGER',
 2184: 'ELLINGTON FIELD',
 2186: 'ELM MOTT',
 2185: 'ELMATON',
 2187: 'ELMENDORF',
 2188: 'ELMO',
 2192: 'ELROY',
 2200: 'ELSA',
 2204: 'ELYSIAN FIELDS',
 2210: 'EMHOUSE',
 2220: 'EMORY',
 2223: 'ENCHANTED OAKS',
 2225: 'ENCINAL',
 2227: 'ENCINO',
 2230: 'ENERGY',
 2235: 'ENLOE',
 2240: 'ENNIS',
 2242: 'ENOCHS',
 2243: 'EOLA',
 2248: 'ERA',
 2246: 'ESCOBARES',
 2247: 'ESCOBAS',
 2249: 'ESPERANZA',
 2250: 'ESTELLINE',
 2251: 'ETOILE',
 2252: 'ETTER',
 2255: 'EULESS',
 2253: 'EUREKA',
 2256: 'EUSTACE',
 2258: 'EVADALE',
 2259: 'EVANT',
 2260: 'EVERMAN',
 2265: 'EXELL',
 2270: 'FABENS',
 2279: 'FAIR OAKS RANCH',
 2280: 'FAIRFIELD',
 2281: 'FAIRLIE',
 2282: 'FAIRVIEW',
 2283: 'FALCON',
 2285: 'FALCON HEIGHTS',
 2290: 'FALFURRIAS',
 2300: 'FALLS CITY',
 2304: 'FANNETT',
 2305: 'FANNIN',
 2310: 'FARMERS BRANCH',
 2320: 'FARMERSVILLE',
 2322: 'FARNSWORTH',
 2325: 'FARWELL',
 2327: 'FASHING',
 2330: 'FATE',
 2340: 'FAYETTEVILLE',
 2342: 'FAYSVILLE',
 2345: 'FENTRESS',
 2360: 'FERRIS',
 2361: 'FIELD CREEK',
 2362: 'FIELDTON',
 2363: 'FIFE',
 2366: 'FISCHER',
 2367: 'FISK',
 2371: 'FLAT',
 2370: 'FLATONIA',
 2374: 'FLINT',
 2376: 'FLOMOT',
 2380: 'FLORENCE',
 2390: 'FLORESVILLE',
 2395: 'FLOWER MOUND',
 2400: 'FLOYDADA',
 2405: 'FLUVANNA',
 2406: 'FLYNN',
 2410: 'FOLLETT',
 2418: 'FOREST',
 2423: 'FOREST GLADE',
 2420: 'FOREST HILL',
 2419: 'FORESTBURG',
 2430: 'FORNEY',
 2429: 'FORRESTON',
 2431: 'FORSAN',
 2433: 'FORT BLISS',
 2434: 'FORT CROCKETT',
 2432: 'FORT DAVIS',
 2437: 'FORT HOOD',
 2439: 'FORT MCINTOSH',
 2436: 'FORT MCKAVETT',
 2438: 'FORT SAM HOUSTON',
 2440: 'FORT STOCKTON',
 2448: 'FORT WOLTERS',
 2450: 'FORT WORTH',
 2455: 'FOSTER AFB',
 2457: 'FOWLERTON',
 2458: 'FRANCITAS',
 2459: 'FRANKEL CITY',
 2460: 'FRANKLIN',
 2470: 'FRANKSTON',
 2475: 'FRED',
 2480: 'FREDERICKSBURG',
 2485: 'FREDONIA',
 2490: 'FREEPORT',
 2500: 'FREER',
 2501: 'FREESTONE',
 2504: 'FRESNO',
 2505: 'FRIENDSWOOD',
 2510: 'FRIONA',
 2520: 'FRISCO',
 2521: 'FRITCH',
 2525: 'FRONTON',
 2530: 'FROST',
 2532: 'FRUITVALE',
 2435: 'FT HANCOCK',
 2534: 'FULLER SPRING',
 2545: 'FULSHEAR',
 2543: 'FULTON',
 2548: 'GAIL',
 2550: 'GAINESVILLE',
 2560: 'GALENA PARK',
 2562: 'GALLATIN',
 2570: 'GALVESTON',
 2580: 'GANADO',
 2582: 'GARCIASVILLE',
 2595: 'GARDEN CITY',
 2587: 'GARDEN RIDGE',
 2585: 'GARDENDALE',
 2590: 'GARLAND',
 2598: 'GARRETT',
 2600: 'GARRISON',
 2604: 'GARWOOD',
 2603: 'GARY',
 2605: 'GARY AIR FORCE BASE',
 2610: 'GATESVILLE',
 2612: 'GAUSE',
 2614: 'GAY HILL',
 2616: 'GENEVA',
 2630: 'GEORGE WEST',
 2620: 'GEORGETOWN',
 2635: 'GERONIMO',
 2637: 'GHOLSON',
 2640: 'GIDDINGS',
 2647: 'GILCHRIST',
 2648: 'GILLETT',
 2650: 'GILMER',
 2655: 'GIRARD',
 2660: 'GIRVIN',
 2670: 'GLADEWATER',
 2671: 'GLAZIER',
 2675: 'GLEN FLORA',
 2680: 'GLEN ROSE',
 2672: 'GLENCOVE',
 2674: 'GLENDALE',
 2678: 'GLENN HEIGHTS',
 2685: 'GOBER',
 2690: 'GODLEY',
 2692: 'GOLDEN',
 2693: 'GOLDSBORO',
 2697: 'GOLDSMITH',
 2700: 'GOLDTHWAITE',
 2710: 'GOLIAD',
 2718: 'GOLINDA',
 2720: 'GONZALES',
 2725: 'GOODFELLOW AFB',
 2723: 'GOODLAND',
 2726: 'GOODLETT',
 2724: 'GOODLOW PARK',
 2727: 'GOODRICH',
 2730: 'GORDON',
 2731: 'GORDONVILLE',
 2740: 'GOREE',
 2750: 'GORMAN',
 2755: 'GOULDBUSK',
 2760: 'GRAFORD',
 2770: 'GRAHAM',
 2780: 'GRANBURY',
 2800: 'GRAND PRAIRIE',
 2810: 'GRAND SALINE',
 2790: 'GRANDFALLS',
 2820: 'GRANDVIEW',
 2830: 'GRANGER',
 2834: 'GRANITE SHOALS',
 2840: 'GRAPELAND',
 2850: 'GRAPEVINE',
 2855: 'GRAY AFB',
 2857: 'GRAYBURG',
 2858: 'GRAYS PRARIE',
 2860: 'GREENVILLE',
 2862: 'GREENWOOD',
 2871: 'GREGORY',
 2875: 'GREY FOREST',
 2880: 'GRIFFING PARK',
 2884: 'GRIT',
 2890: 'GROESBECK',
 2900: 'GROOM',
 2903: 'GROSVENOR',
 2905: 'GROVES',
 2910: 'GROVETON',
 2930: 'GRUVER',
 2936: 'GUADALUPE',
 2937: 'GUERRA',
 2938: 'GUN BARREL CITY',
 2940: 'GUNTER',
 2950: 'GUSTINE',
 2952: 'GUTHRIE',
 2954: 'GUY',
 2955: 'HACKBERRY',
 2960: 'HALE CENTER',
 2970: 'HALLETTSVILLE',
 2972: 'HALLSBURG',
 2980: 'HALLSVILLE',
 2990: 'HALTOM CITY',
 3000: 'HAMILTON',
 3010: 'HAMLIN',
 3011: 'HAMSHIRE',
 3012: 'HANKAMER',
 3020: 'HAPPY',
 3025: 'HARDIN',
 3026: 'HARGILL',
 3027: 'HARKER HEIGHTS',
 3032: 'HARLETON',
 3030: 'HARLINGEN',
 3033: 'HARPER',
 3034: 'HARROLD',
 3035: 'HART',
 3036: 'HARTLEY',
 3040: 'HARWOOD',
 3050: 'HASKELL',
 3052: 'HASLET',
 3055: 'HASSE',
 3056: 'HATCHEL',
 3058: 'HAVANA',
 3060: 'HAWKINS',
 3062: 'HAWLEY',
 3070: 'HEARNE',
 3076: 'HEATH',
 3080: 'HEBBRONVILLE',
 3079: 'HEBRON',
 3090: 'HEDLEY',
 3092: 'HEDWIG VILLAGE',
 3093: 'HEIDENHEIMER',
 3095: 'HELOTES',
 3100: 'HEMPHILL',
 3110: 'HEMPSTEAD',
 3120: 'HENDERSON',
 3130: 'HENRIETTA',
 3140: 'HEREFORD',
 3150: 'HERMLEIGH',
 3153: 'HEWITT',
 3155: 'HEXT',
 3157: 'HICKORY CREEK',
 3160: 'HICO',
 3165: 'HIDALGO',
 3170: 'HIGGINS',
 3177: 'HIGH',
 3179: 'HIGH ISLAND',
 3180: 'HIGHLAND PARK',
 3192: 'HIGHLAND VILLAGE',
 3190: 'HIGHLANDS',
 3195: 'HILL COUNTRY VILLAGE',
 3202: 'HILLCREST VILLAGE',
 3208: 'HILLISTER',
 3210: 'HILLSBORO',
 3204: 'HILLTOP LAKES',
 3215: 'HILSHIRE VILLAGE',
 3220: 'HITCHCOCK',
 3226: 'HOBSON',
 3228: 'HOCHHEIM',
 3227: 'HOCKLEY',
 3230: 'HOLLAND',
 3240: 'HOLLIDAY',
 3245: 'HOLLYWOOD PARK',
 3247: 'HOMER',
 3250: 'HONDO',
 3260: 'HONEY GROVE',
 3270: 'HOOKS',
 3276: 'HORIZON CITY',
 3280: 'HOUSTON',
 3282: 'HOWARDWICK',
 3290: 'HOWE',
 3300: 'HUBBARD',
 3305: 'HUDSON',
 3309: 'HUFFMAN',
 3311: 'HUFSMITH',
 3310: 'HUGHES SPRINGS',
 3312: 'HULL',
 3320: 'HUMBLE',
 3323: 'HUNGERFORD',
 3327: 'HUNT',
 3328: 'HUNTERS CREEK VILLAGE',
 3330: 'HUNTINGTON',
 3340: 'HUNTSVILLE',
 3345: 'HURLWOOD',
 3347: 'HURST',
 3350: 'HUTCHINS',
 3360: 'HUTTO',
 3365: 'HUXLEY',
 3367: 'HYE',
 3370: 'IDALOU',
 3375: 'IMPACT',
 3377: 'IMPERIAL',
 3376: 'INDIAN GAP',
 3379: 'INDUSTRY',
 3378: 'INEZ',
 3380: 'INGLESIDE',
 3382: 'INGRAM',
 3387: 'IOLA',
 3388: 'IOWA COLONY',
 3390: 'IOWA PARK',
 3399: 'IRA',
 3400: 'IRAAN',
 3410: 'IREDELL',
 3415: 'IRELAND',
 3416: 'IRENE',
 3420: 'IRVING',
 3430: 'ITALY',
 3440: 'ITASCA',
 3445: 'IVANHOE',
 3447: 'IZORO',
 3450: 'JACINTO CITY',
 3460: 'JACKSBORO',
 3465: 'JACKSON',
 3470: 'JACKSONVILLE',
 3472: 'JAMAICA BEACH',
 3475: 'JAMESTOWN',
 3478: 'JARRELL',
 3480: 'JASPER',
 3490: 'JAYTON',
 3500: 'JEFFERSON',
 3504: 'JERMYN',
 3505: 'JERSEY VILLAGE',
 3510: 'JEWETT',
 3520: 'JOAQUIN',
 3530: 'JOHNSON CITY',
 3531: 'JOHNSVILLE',
 3532: 'JOINERVILLE',
 3534: 'JONAH',
 3537: 'JONES CREEK',
 3533: 'JONESBORO',
 3541: 'JONESTOWN',
 3536: 'JONESVILLE',
 3535: 'JOSEPHINE',
 3538: 'JOSHUA',
 3540: 'JOURDANTON',
 3539: 'JUDSON',
 3550: 'JUNCTION',
 3555: 'JUNO',
 3558: 'JUSTICEBURG',
 3560: 'JUSTIN',
 3564: 'KAMAY',
 3565: 'KARNACK',
 3570: 'KARNES CITY',
 3575: 'KATEMCY',
 3580: 'KATY',
 3590: 'KAUFMAN',
 3593: 'KEENE',
 3594: 'KELLER',
 3596: 'KELLERVILLE',
 3595: 'KELLY AFB',
 3607: 'KEMAH',
 3610: 'KEMP',
 3619: 'KEMPNER',
 3622: 'KENDALIA',
 3624: 'KENDLETON',
 3630: 'KENEDY',
 3639: 'KENNARD',
 3640: 'KENNEDALE',
 3641: 'KENNEY',
 3644: 'KENT',
 3650: 'KERENS',
 3660: 'KERMIT',
 3665: 'KERRICK',
 3670: 'KERRVILLE',
 3678: 'KILDARE',
 3680: 'KILGORE',
 3682: 'KILGORE EAST',
 3690: 'KILLEEN',
 3698: 'KINGSBURY',
 3699: 'KINGSLAND',
 3701: 'KINGSMILL',
 3721: 'KINGSTON',
 3700: 'KINGSVILLE',
 3703: 'KINGWOOD',
 3705: 'KIRBY',
 3710: 'KIRBYVILLE',
 3715: 'KIRKLAND',
 3720: 'KIRVIN',
 3722: 'KLEBERG',
 3727: 'KLEIN',
 3723: 'KLONDIKE',
 3726: 'KNICKERBOCKER',
 3724: 'KNIPPA',
 3725: 'KNOTT',
 3730: 'KNOX CITY',
 3735: 'KOPPERL',
 3740: 'KOSSE',
 3750: 'KOUNTZE',
 3754: 'KRESS',
 3758: 'KRUGERVILLE',
 3755: 'KRUM',
 3756: 'KURTEN',
 3760: 'KYLE',
 3762: 'LA BLANCA',
 3766: 'LA COSTE',
 3780: 'LA FERIA',
 3790: 'LA GRANGE',
 2920: 'LA GRULLA',
 3788: 'LA GRULLA',
 3793: 'LA ISLA',
 3795: 'LA JOYA',
 3850: 'LA MARQUE',
 3890: 'LA PORTE',
 3891: 'LA PRYOR',
 3903: 'LA SALLE',
 3905: 'LA TUNA',
 3909: 'LA VERNIA',
 3908: 'LA VILLA',
 3911: 'LA WARD',
 3765: 'LACKLAND AFB',
 3769: 'LACY LAKEVIEW',
 3770: 'LADONIA',
 3781: 'LAGO VISTA',
 3791: 'LAGUNA HEIGHTS',
 3799: 'LAGUNA PARK',
 3792: 'LAGUNA VISTA',
 3794: 'LAIRD HILL',
 3796: 'LAKE BARBARA',
 3797: 'LAKE CREEK',
 3798: 'LAKE DALLAS',
 3800: 'LAKE JACKSON',
 3805: 'LAKE KIOWA',
 3806: 'LAKE RANSON CANYON',
 3814: 'LAKE TANGLEWOOD',
 3840: 'LAKE WORTH VILLAGE',
 3812: 'LAKEPORT',
 3813: 'LAKESIDE',
 3815: 'LAKESIDE CITY',
 3830: 'LAKEVIEW',
 3832: 'LAKEWAY',
 3848: 'LAMAR',
 3860: 'LAMESA',
 3862: 'LAMKIN',
 3870: 'LAMPASAS',
 3880: 'LANCASTER',
 3882: 'LANE CITY',
 3881: 'LANEVILLE',
 3885: 'LANGTRY',
 3899: 'LAREDO',
 3900: 'LAREDO AFB',
 3901: 'LARIAT',
 3902: 'LARUE',
 3904: 'LASARA',
 3906: 'LATEXO',
 3907: 'LAUGHLIN AFB',
 3913: 'LAVON',
 3910: 'LAWN',
 3914: 'LAWRENCE',
 3912: 'LAZBUDDIE',
 3921: 'LEADAY (HISTORICAL)',
 3920: 'LEAGUE CITY',
 ...}

In [85]:
df['CITY']=df.CITY.astype('Int32').map(city_code)
df.head()

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,Texas,480001.0,2.0,2.0,0.0,1.0,1.0,2.0,2.0,BEXAR,...,Unknown if Notified,Unknown EMS Scene Arrival Hour,Unknown if Arrived,Not Applicable (Not Transported),Not Applicable (Not Transported),Recent/Previous Crash scene Nearby,None,None,1.0,0.0
1,Texas,480002.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,DALLAS,...,Unknown,Unknown EMS Scene Arrival Hour,Unknown EMS Scene Arrival Minutes,Unknown,Unknown EMS Hospital Arrival Time,None,None,None,1.0,1.0
2,Texas,480003.0,2.0,2.0,0.0,0.0,0.0,4.0,4.0,DALLAS,...,11,3:00pm-3:59pm,16,3:00pm-3:59pm,33,None,None,None,2.0,0.0
3,Texas,480004.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,FORT BEND,...,Unknown if Notified,Unknown EMS Scene Arrival Hour,Unknown if Arrived,Not Applicable (Not Transported),Not Applicable (Not Transported),None,None,None,1.0,1.0
4,Texas,480005.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,GONZALES,...,Unknown if Notified,Unknown EMS Scene Arrival Hour,Unknown if Arrived,Not Applicable (Not Transported),Not Applicable (Not Transported),None,None,None,1.0,0.0

In [87]:
s_col=['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'ROUTE', 'LATITUDE', 'LONGITUD', 'SP_JUR', 'HARM_EV',
       'MAN_COLL', 'RELJCT1', 'RELJCT2', 'TYP_INT', 'WRK_ZONE', 'REL_ROAD',
       'LGT_COND', 'WEATHER1', 'WEATHER2', 'WEATHER', 'SCH_BUS', 'RAIL',
       'CF1', 'CF2', 'CF3', 'FATALS', 'DRUNK_DR']

In [88]:
df[s_col].to_csv('.\Datasets\\accident_5ys.csv',index=False)

In [89]:
# person
df=pd.read_csv('.\Datasets\\person_5ys.csv')
df.head()

C:\Users\DuongHung\anaconda3\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE,ST_CASE,VE_FORMS,VEH_NO,PER_NO,STR_VEH,COUNTY,DAY,MONTH,HOUR,...,LAG_HRS,LAG_MINS,P_SF1,P_SF2,P_SF3,WORK_INJ,HISPANIC,RACE,LOCATION,YEAR
0,Texas,480001.0,2.0,0.0,1.0,1.0,29.0,1,January,4:00am-4:59am,...,0.0,29.0,None,None,None,No,Mexican,White,"Not at Intersection - On Roadway, Not in Marke...",2014
1,Texas,480001.0,2.0,1.0,1.0,0.0,29.0,1,January,4:00am-4:59am,...,999.0,99.0,None,None,None,Not Applicable (not a fatality),Not A Fatality (not Applicable),Not a Fatality (not Applicable),Occupant of a Motor Vehicle,2014
2,Texas,480001.0,2.0,1.0,2.0,0.0,29.0,1,January,4:00am-4:59am,...,999.0,99.0,None,None,None,Not Applicable (not a fatality),Not A Fatality (not Applicable),Not a Fatality (not Applicable),Occupant of a Motor Vehicle,2014
3,Texas,480002.0,1.0,1.0,1.0,0.0,113.0,1,January,0:00am-0:59am,...,1.0,48.0,None,None,None,No,Non-Hispanic,Black,Occupant of a Motor Vehicle,2014
4,Texas,480003.0,2.0,1.0,1.0,0.0,113.0,1,January,3:00pm-3:59pm,...,999.0,99.0,None,None,None,Not Applicable (not a fatality),Not A Fatality (not Applicable),Not a Fatality (not Applicable),Occupant of a Motor Vehicle,2014

In [91]:
df['COUNTY']=df.COUNTY.astype('Int32').map(county_code)

In [92]:
df.columns

Index(['STATE', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO', 'STR_VEH', 'COUNTY',
       'DAY', 'MONTH', 'HOUR', 'MINUTE', 'HARM_EV', 'MAN_COLL', 'SCH_BUS',
       'AGE', 'SEX', 'PER_TYP', 'INJ_SEV', 'SEAT_POS', 'REST_USE', 'REST_MIS',
       'AIR_BAG', 'EJECTION', 'EJ_PATH', 'EXTRICAT', 'DRINKING', 'ALC_DET',
       'ALC_STATUS', 'ATST_TYP', 'ALC_RES', 'DRUGS', 'DRUG_DET', 'DSTATUS',
       'HOSPITAL', 'DOA', 'DEATH_DA', 'DEATH_MO', 'DEATH_YR', 'DEATH_HR',
       'DEATH_MN', 'DEATH_TM', 'LAG_HRS', 'LAG_MINS', 'P_SF1', 'P_SF2',
       'P_SF3', 'WORK_INJ', 'HISPANIC', 'RACE', 'LOCATION', 'YEAR'],
      dtype='object')

In [93]:
s_col=['STATE', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO', 'STR_VEH', 'COUNTY',
       'DAY', 'MONTH', 'HOUR', 'MINUTE', 'HARM_EV', 'MAN_COLL', 'SCH_BUS',
       'AGE', 'SEX', 'PER_TYP', 'INJ_SEV', 'SEAT_POS', 'REST_USE', 'REST_MIS',
       'AIR_BAG', 'EJECTION', 'EJ_PATH', 'EXTRICAT', 'DRINKING', 
       'ALC_RES', 'DRUGS', 'DSTATUS',
       'HOSPITAL', 'DOA', 'P_SF1', 'P_SF2',
       'P_SF3', 'WORK_INJ', 'HISPANIC', 'RACE', 'LOCATION', 'YEAR']

In [94]:
df[s_col].to_csv('.\Datasets\\person_5ys.csv',index=False)

In [95]:
# vehicle
df=pd.read_csv('.\Datasets\\vehicle_5ys.csv')
df.head()

C:\Users\DuongHung\anaconda3\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,YEAR
0,Texas,480001.0,1.0,2.0,02,1,January,4:00am-4:59am,22,Motor Vehicle In-Transport,...,No Controls,Going Straight,Other vehicle stopped,Unknown,Tracking,Stayed in original travel lane,Specifics Other,0.0,No,2014
1,Texas,480001.0,2.0,2.0,None,1,January,4:00am-4:59am,22,Motor Vehicle In-Transport,...,No Controls,No Driver Present / Unknown if Driver Present,Traveling in same direction with higher speed,No Driver Present / Unknown if Driver Present,No Driver Present / Unknown if Driver Present,No Driver Present / Unknown if Driver Present,Specifics Other,0.0,No,2014
2,Texas,480002.0,1.0,1.0,01,1,January,0:00am-0:59am,20,Tree (Standing Only),...,No Controls,Turning Left,Off the edge of the road on the left side,Unknown,Tracking,Departed roadway,Specifics Other,1.0,Yes,2014
3,Texas,480003.0,1.0,2.0,02,1,January,3:00pm-3:59pm,11,Motor Vehicle In-Transport,...,Device Functioning Properly,Turning Left,Turning left at junction,Unknown,Tracking,Stayed in original travel lane,Initial Opposite Directions (Left/Right),0.0,No,2014
4,Texas,480003.0,2.0,2.0,02,1,January,3:00pm-3:59pm,11,Motor Vehicle In-Transport,...,No Controls,Going Straight,"From driveway, turning into opposite direction",Unknown,Tracking,Stayed in original travel lane,Initial Opposite Directions (Going Straight),2.0,No,2014

In [99]:
print(df.columns[:50])
print(df.columns[50:])

Index(['STATE', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'NUMOCCS', 'DAY', 'MONTH',
       'HOUR', 'MINUTE', 'HARM_EV', 'MAN_COLL', 'UNITTYPE', 'HIT_RUN',
       'REG_STAT', 'OWNER', 'MAKE', 'MODEL', 'MAK_MOD', 'BODY_TYP', 'MOD_YEAR',
       'VIN', 'VIN_1', 'VIN_2', 'VIN_3', 'VIN_4', 'VIN_5', 'VIN_6', 'VIN_7',
       'VIN_8', 'VIN_9', 'VIN_10', 'VIN_11', 'VIN_12', 'TOW_VEH', 'J_KNIFE',
       'MCARR_I1', 'MCARR_I2', 'MCARR_ID', 'GVWR', 'V_CONFIG', 'CARGO_BT',
       'HAZ_INV', 'HAZ_PLAC', 'HAZ_ID', 'HAZ_CNO', 'HAZ_REL', 'BUS_USE',
       'SPEC_USE', 'EMER_USE', 'TRAV_SP'],
      dtype='object')
Index(['UNDERIDE', 'ROLLOVER', 'ROLINLOC', 'IMPACT1', 'DEFORMED', 'TOWED',
       'M_HARM', 'VEH_SC1', 'VEH_SC2', 'FIRE_EXP', 'DR_PRES', 'L_STATE',
       'DR_ZIP', 'L_STATUS', 'L_TYPE', 'CDL_STAT', 'L_ENDORS', 'L_COMPL',
       'L_RESTRI', 'DR_HGT', 'DR_WGT', 'PREV_ACC', 'PREV_DWI', 'PREV_SPD',
       'PREV_OTH', 'FIRST_MO', 'FIRST_YR', 'LAST_MO', 'LAST_YR', 'SPEEDREL',
       'DR_SF1', 'DR_SF2', 'DR_SF3', 'DR_SF4', 'VTRAFWAY', 'VNUM_LAN',
       'VSPD_LIM', 'VALIGN', 'VPROFILE', 'VPAVETYP', 'VSURCOND', 'VTRAFCON',
       'VTCONT_F', 'P_CRASH1', 'P_CRASH2', 'P_CRASH3', 'PCRASH4', 'PCRASH5',
       'ACC_TYPE', 'DEATHS', 'DR_DRINK', 'YEAR'],
      dtype='object')

In [100]:
s_col=['STATE', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'NUMOCCS', 'DAY', 'MONTH',
       'HOUR', 'MINUTE', 'HARM_EV', 'MAN_COLL', 'UNITTYPE', 'HIT_RUN',
       'REG_STAT', 'OWNER', 'MAKE', 'MODEL', 'MAK_MOD', 'BODY_TYP', 'MOD_YEAR',
       'TOW_VEH', 'J_KNIFE','GVWR', 'V_CONFIG', 'CARGO_BT',
       'HAZ_INV', 'HAZ_PLAC', 'HAZ_ID', 'HAZ_CNO', 'HAZ_REL', 'BUS_USE',
       'SPEC_USE', 'EMER_USE', 'TRAV_SP','UNDERIDE', 'ROLLOVER', 'ROLINLOC', 'IMPACT1', 'DEFORMED', 'TOWED',
       'M_HARM', 'VEH_SC1', 'VEH_SC2', 'FIRE_EXP', 'DR_PRES', 'L_STATE',
       'L_STATUS', 'L_TYPE', 'CDL_STAT', 'L_ENDORS', 'L_COMPL',
       'L_RESTRI', 'DR_HGT', 'DR_WGT', 'PREV_ACC', 'PREV_DWI', 'PREV_SPD',
       'PREV_OTH', 'FIRST_MO', 'FIRST_YR', 'LAST_MO', 'LAST_YR', 'SPEEDREL',
       'DR_SF1', 'DR_SF2', 'DR_SF3', 'DR_SF4', 'VTRAFWAY', 'VNUM_LAN',
       'VSPD_LIM', 'VALIGN', 'VPROFILE', 'VPAVETYP', 'VSURCOND', 'VTRAFCON',
       'VTCONT_F', 'P_CRASH1', 'P_CRASH2', 'P_CRASH3', 'PCRASH4', 'PCRASH5',
       'ACC_TYPE', 'DEATHS', 'DR_DRINK', 'YEAR']

In [101]:
df[s_col].to_csv('.\Datasets\\vehicle_5ys.csv',index=False)